*,
*::after,
*::before {
  margin: 0;
  padding: inherit;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  height: 2000px;
  position: relative; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 10000;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  padding-top: 30px;
  height: 100%;
  background-color: #d85275;
  display: flex;
  justify-content: center; }
  .container__glitch {
    font-size: 130px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    position: absolute;
    color: #fff; }
    .container__glitch:before, .container__glitch:after {
      display: block;
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.8; }
