*,
*::after,
*::before {
  margin: 0;
  padding: inherit;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  position: relative; }

.container {
  height: 100%;
  background-image: linear-gradient(45deg, #2B0059 35%, #d85275 80%, #92688b 95%);
  position: relative;
  animation: light 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container__subtitle {
    margin-top: 12rem;
    color: #fff;
    animation: dark 0.5s ease-in-out;
    font-family: "Major Mono Display", monospace;
    font-size: 1rem; }
    @media screen and (max-width: 475px) {
      .container__subtitle {
        margin-top: 7rem;
        font-size: 0.6rem; } }
  .container__glitch {
    user-select: none;
    animation: dark 0.5s ease-in-out;
    font-size: 6rem;
    line-height: 1;
    font-family: "Major Mono Display", monospace;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: #fff; }
    @media screen and (max-width: 475px) {
      .container__glitch {
        font-size: 2rem !important; } }
    @media screen and (max-width: 699px) {
      .container__glitch {
        font-size: 4rem; } }
    .container__glitch:before, .container__glitch:after {
      display: block;
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.8; }
    .container__glitch:after {
      color: #f0f;
      z-index: -2; }
    .container__glitch:before {
      color: #0ff;
      z-index: -1; }
    .container__glitch:hover:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
    .container__glitch:hover:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }
    .container__glitch:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .container__glitch:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both; }

@keyframes light {
  0% {
    background-image: linear-gradient(to right, #fff, #fff); }
  20% {
    background-image: linear-gradient(to right, #fff, #fff); }
  40% {
    background-image: linear-gradient(to right, #fff, #fff); }
  60% {
    background-image: linear-gradient(to right, #fff, #fff); }
  80% {
    background-image: linear-gradient(to right, #fff, #fff); }
  to {
    background-image: linear-gradient(45deg, #2B0059 35%, #d85275 80%, #92688b 95%); } }

@keyframes dark {
  0% {
    color: #000; }
  20% {
    color: #000; }
  40% {
    color: #000; }
  60% {
    color: #000; }
  80% {
    color: #000; }
  to {
    color: #fff; } }

@keyframes glitch {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-5px, 5px); }
  40% {
    transform: translate(-5px, -5px); }
  60% {
    transform: translate(5px, 5px); }
  80% {
    transform: translate(5px, -5px); }
  to {
    transform: translate(0); } }

.color-grey {
  color: #919191; }
