@import "./abstracts/variables";
@import "./base/base";
@import "./components/navbar";

.container {
  padding-top: 30px;
  height: 100%;
  background-color: $color-primary;

  // align-items: center;
  display: flex;
  justify-content: center;

  &__glitch {
    font-size: 130px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    position: absolute;
    color: $color-white;
    &:before,
    &:after {
      display: block;
      content: attr(data-label); //set by js in index.js
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.8;
    }
  }
}
