@import "./abstracts/variables";
@import "./base/base";
@import "./abstracts/mixins";

.container {
  height: 100%;
  background-image: linear-gradient(
    45deg,
    $color-dark 35%,
    $color-primary 80%,
    $color-light 95%
  );
  position: relative;
  animation: light 0.5s ease-in-out;

  &__glitch {
    @media screen and (max-width: 475px) {
      font-size: 2rem !important;
    }
    @media screen and (max-width: 699px) {
      font-size: 4rem;
    }

    user-select: none;
    animation: dark 0.5s ease-in-out;
    font-size: 6rem;
    line-height: 1;
    font-family: "Major Mono Display", monospace;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: $color-white;
    &:before,
    &:after {
      display: block;
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.8;
    }
    &:after {
      color: #f0f;
      z-index: -2;
    }
    &:before {
      color: #0ff;
      z-index: -1;
    }
    &:hover {
      &:before {
        animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
          infinite;
      }
      &:after {
        animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
          infinite;
      }
    }
    &:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
    }
  }

  @keyframes light {
    0% {
      background-image: linear-gradient(to right, $color-white, $color-white);
    }
    20% {
      background-image: linear-gradient(to right, $color-white, $color-white);
    }
    40% {
      background-image: linear-gradient(to right, $color-white, $color-white);
    }
    60% {
      background-image: linear-gradient(to right, $color-white, $color-white);
    }
    80% {
      background-image: linear-gradient(to right, $color-white, $color-white);
    }
    to {
      background-image: linear-gradient(
        45deg,
        $color-dark 35%,
        $color-primary 80%,
        $color-light 95%
      );
    }
  }

  @keyframes dark {
    0% {
      color: $color-black;
    }
    20% {
      color: $color-black;
    }
    40% {
      color: $color-black;
    }
    60% {
      color: $color-black;
    }
    80% {
      color: $color-black;
    }
    to {
      color: $color-white;
    }
  }

  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    to {
      transform: translate(0);
    }
  }
}

.color-grey {
  color: $color-grey;
}
