.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 10000;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}